/*ocd*/
/* General Theme Settings */
a {
  color: #000;
}
p {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .month{
  font-family: Georgia;
  margin: 0;
  background-color: #512DA8;
  background: linear-gradient(-45deg, #512DA8, rgba(64,40,200,0.6));
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

}

.hidden {
  display: none;
}

body {
  background-color: #fff;/* #D1C4E9;*/
  padding-top: 0 !important;
  padding-top: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}

.lead {
  font-size: 16px;

}

.container {
  margin: 0;
  padding: 0;
}

#leftSide, #RightSide {
  padding: 0;
}

#logoText {
  color: #FFF !important;
  margin-left: 30px !important;
  font-size: 45px;
  /*background-color: #512DA8 !important;*/
  box-shadow: 0 -4px 0 0 rgba(0,0,0,0.2) inset;
  background: none;
}


.masthead {
  /*margin-top: 15px;*/
  /*box-shadow: -4px -4px 2px 0 rgba(0,0,0,0.2) inset;*/
  /*background-color: #512DA8;*/
    background: linear-gradient(-45deg, #512DA8, rgba(64,40,200,0.6));
  /*box-shadow: 0 -4px 0 0 rgba(0,0,0,0.4) inset;*/

}
/*************************/

#myProgress, #usage, #goals, #draftNewGoal{
  margin-top: 20px;
}

 #interactions {
    margin-top: 20px;
    padding: 0;
 }

h1,#myGoalsTitle, #myProgressTitle, #interactions>h1 { /* #logoText*/
  box-shadow: 0 3px 10px 4px rgba(0,0,0,0.2);
  color: #FFF;
  padding: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-align: left;
}

/* Button Stylings */
.btn-circle {
  height: 46px;
  width: 46px;
  font-size: 30px;
  text-align: center;
  /*padding: 10px;*/
  padding-top: 6px;
  padding-left: 5px;
  border-radius: 50%;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 3px 10px 4px rgba(0,0,0,0.2);
  transform: translateY(-4px);
  }
.btn-circle:hover,
.btn-circle:focus {
  color: #FFFFFF;
  border: none;
  outline: 0 !important;
  /*box-shadow: 0 4px 0 0 #7B1FA2;*/
  transform: translateY(-6px);
}
.btn-circle:active{
  box-shadow: 0 0 #666;
  transform: translateY(-2px);
  outline: 0;

  /*box-shadow: 0 4px 0 0 #7B1FA2;*/
}

.glyphicon.glyphicon-remove{
  box-shadow: 0 3px 10px 4px rgba(0,0,0,0.2) inset;
  color: #FF0000!important;
  background: linear-gradient(-45deg, #C3C3C3, #FFF);
  padding-left: 8px;
  padding-top: 8px;
}

.glyphicon.glyphicon-asterisk{
    color: white;
}

.glyphicon-plus{
  color: white;
  background: linear-gradient(-45deg, #512DA8, rgba(64,40,200,0.6));
  padding-left: 2px;
  padding-top: 7px;
}

#draftNewGoalBtn{
    position: absolute;
    bottom: -10px;
    right: 25px;
    height: 56px!important;
    width: 56px!important;
    padding-top: 13px;
    padding-left: 13px;
    /*background: linear-gradient(-45deg, #FF5722, #FFF);*/
    background-image: linear-gradient(to bottom right,#ee7600 0, #FF8C00 100%);

}

.glyphicon-time{
  color: #fff;
  /*background-image: linear-gradient(to top,#563d7c 0,#6f5499 100%);*/
  background: linear-gradient(-45deg, #512DA8, rgba(64,40,200,0.6));
  font-size: 30px;
  padding-top: 8px;
  padding-right: 5px;
}
/* END OF BUTTON STYLINGS*/
#goals {
  padding: 0 0;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,0.5);
}

#draftNewGoal {
  padding: 0;
  box-shadow: 0 3px 10px 4px rgba(0,0,0,0.2);

}

/*Styling myGoals list*/
#myGoals, #myInteractions{
  list-style: none;
  font-size: 16px;
  color: #212121;
  padding: 0;
  padding-bottom: 20px;
  /*max-height: 345px;*/
  /*overflow-y: auto;*/
  /*overflow-x: visible;*/
}

.weekView > div {
  border-right: 4px solid black;
  padding-top: 5px;
  font-size: 20px;
  height: 30px;
}

.progress-bar {
  height: 20px;
}
.progress {
  margin-bottom: 0;
}

#newGoalAlert {
  position: absolute;
  top: 40px;
  right: 0;
  transform: translateY(-10px);
  box-shadow: 0 3px 5px 3px rgba(0,0,0,0.9);
}

#myGoals>li:first-child,
#myInteractions>li:first-child {
    margin-top: 5px;
}

#myGoals>li,
#myInteractions>li,
#myProgress>div
{
    box-shadow: 0 5px 0 0 rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 10px;
    padding-top: 20px;
    /*padding-right: 20px;*/
    /*padding-bottom: 15px;*/
    font-size: 18px;
    margin-top: 20px;
    background: linear-gradient(-45deg, #ddd, #eee);
}
#myInteractions>li>span,
#myGoals>li>span{
  background: radial-gradient(-45deg, #512DA8, #fff);
  border-radius: 50%;
  margin: 4% 0;
}
/* END OF myGoals list styling*/

/* Style infowindow for  google map */
#firstHeading {
  /*text-decoration: underline;*/
  margin-bottom: 5px;
}
#secondHeading {
  margin-top: 5px;
}

#map {
  height: 715px;
  background-color: grey;
  margin: 0 0;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.5);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#usage{
    box-shadow: 0 2px 8px 5px rgba(0,0,0,0.2);
    padding: 0;
    border-radius: 4px;
}
/* Button Class */

.btn1 {
  /*font-size: 50px;*/
  padding-top: 5px;
  color: #FFFFFF;
  /*background-color: #FF5722;*/
  background-color: #008000;
  /*border-color: #7986cb;*/
  box-shadow: 0 2px 0 0 #006400;
  transition: 0.5s;
  }
#btn1:hover,
#btn1:focus {
  background-color: #E64A19;
  /*box-shadow: 0 2px 0 0 #E64A19;*/
}
#btn1:active{
  /*box-shadow: 0 0 #666;*/
  transform: translateY(4px);
  /*box-shadow: 0 2px 0 0 #E64A19;*/

}
/* ENd Button Class*/

/* Done Styling infowindow for google map*/

#newGoalSubmit{
  font-size: 50px;
  height: 74px;
}

#newGoalInput{
  height: 74px;
  font-size: 16px;
  padding: 21px;

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
/****************************************/

/* The following code is modified from w3schools.com tutorial
on creating a calendar */
#calendar {
  padding: 0;
  box-shadow: 0 3px 10px 4px rgba(0,0,0,0.2);
  margin-top: 20px;
}

* {box-sizing:border-box;}
ul {list-style-type: none;}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #bbb;
    float: center;

}

.weekdays li {
    display: inline-block;
    width: 12.9%;
    color: #F0F0F0;
    text-align: center;
    font-style: bold;
}

.days {
    background-color: #ddd;
    margin: 0;
    padding: 0 3px 7px 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 5px 0 0 rgba(0,0,0,0.5);
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12.9%;
    margin: 0;
    margin-top: 7px;
    background: linear-gradient(-45deg, #ccc, #bbb);
    text-align: center;
    color: #F0F0F0;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.5);
}

.days .active {
  background: #673AB7;
  box-shadow: 0 -4px -4px 0 rgba(255,255,255,1);
  color: white !important;
  /*padding-top: 4px;*/
  /*border: 3px outset white;*/
  transform: translateY(2px);
}

.days li:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 12.3%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 11.9%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 11.7%;}
}
